html
  height: 100%

body
  background: white
  text-align: center
  font-family: arial
  font-size: 16px
  color: $gray-base

h1
  font-size: 40px

ul
  list-style: none


.carousel-caption
  position: relative
  left: 0
  right: 0
  text-shadow: none
  color: $gray-base
  .img-responsive
    display: inline-block

// ------------caruosel-style
.carousel-indicators
  &.vertical
    left: initial
    top: 20%
    right: 3%
    width: 20px
    li
      display: block
      margin: 20px auto
    li.active
      margin: 20px auto
  li
    background: black
    border-color: black
  .active
    border-color: $blue-sky

footer
  ul li
    display: inline-block

